@import "bootstrap"

.main
  padding-top: 64px

.image-controls
  margin: auto

#loadmore
  margin: 50px 0


.btn-primary-toggle
  @extend .btn-secondary
  color: black !important

  &.active
    @extend .btn-primary

.content.bw img
  filter: grayscale(1)

.content.blur img
  filter: blur(10px)

.content.bw.blur img
  filter: grayscale(1) blur(10px)
