%head
  %script{ src: 'js/zepto.js' }
  %script{ src: 'js/bootstrap.min.js' }
  %script{ src: 'js/main.js' }
  %link{ href: 'styles/main.css', rel: 'stylesheet' }
  %link{ href: 'styles/font-awesome.min.css', rel: 'stylesheet' }
%body
  %nav.navbar.navbar-dark.bg-primary.navbar-fixed-top
    .container
      .col-md-6.offset-md-2
        %a.navbar-brand.logo{ href: '#' } Lightrogram
      .col-md-2
        %ul.nav.navbar-nav.pull-xs-right
          %li.nav-item
            %a.effect-toggler.nav-link{ 'data-effect': 'blur' } Blur
          %li.nav-item
            %a.effect-toggler.nav-link{ 'data-effect': 'bw' } B/W
  .main
    .container
      .col-md-8.offset-md-2
        .content
          -# "Pictures shall be here"
        #loadmore.btn.btn-block.btn-primary Load More
