- locals[:pictures].each do |pic|
  .card{ "data-id_global": pic[:id_global] }
    %img.card-img-top.img-fluid{ src: pic[:preview] }
    .card-block
      .card-title= pic[:oringinal]
      .btn-toolbar.image-controls
        .btn-group.btn-group-lg
          %a.btn.btn-outline-danger.action{ "data-rating": "reject" }
            %i.fa.fa-thumbs-o-down
        .btn-group.btn-group-lg
          - 5.times do |i|
            %a.btn.btn-outline-primary.action{ "data-rating": i + 1 }
              %i.fa.fa-star-o
        .btn-group.btn-group-lg
          %a.btn.btn-outline-success.action{ "data-rating": "pick" }
            %i.fa.fa-thumbs-o-up
